.testimonials {
  background-color: #f6f3ea;
  text-align: center;
  padding: 40px 40px;
}

.swiper-pagination-bullets swiper-pagination-bullets-dynamic {
  position: absolute;
  bottom: 0;
}
