//fonts
$google-font: 'https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap';

$fontFamilyP: 'Barlow', sans-serif;
$fontFamilyH: 'Josefin Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');
$baseFontSize: 16px;

// Paths

$i: '../i/';
$fontPath: '../fonts/';

// Colors
$black: #000000;
$white: #ffffff;
$orange: #ff6348;
$bg: #f6f3ea;
