footer {
  background-color: $bg;
}

.footer-bottom {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.footer-top {
  padding: 60px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-single {
  max-width: 510px;
}

.footer-single a {
  margin: 0 0 20px;
  font-weight: 500;
  display: inline-block;
  color: #0c2461;
}

.footer-single ul {
  padding-left: 0;
}

.subscribe {
  position: relative;
  max-width: 510px;
}

.subscribe input {
  height: 60px;
  border-radius: 30px;
  border: 0;
  padding-left: 30px;
}

.subscribe button {
  border: 0;
  height: 50px;
  border-radius: 30px;
  padding: 0 30px;
  color: $white;
  font-weight: 600;
  position: absolute;
  right: 5px;
  top: 5px;
  background: $orange;
}

.subscribe button:hover {
  background: #fb4f31;
  color: $white;
}

.footer-social h5 {
  @include FWsize(400, 20);
  color: #0c2461;
  font-family: $fontFamilyH;
}

.footer-social li {
  display: block;
  background: $white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 2px;
  border: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.footer-social a {
  color: $black;
}

.footer-social ul {
  display: flex;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-top p,
  a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .footer-top {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .form-control_footer {
    width: 250px;
  }
}
